In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Day_16_Exercises").getOrCreate()

In [17]:
data =  """call_id,caller,receiver,city,call_type,duration_seconds,cost
C001,Amit,Rahul,Hyderabad,Local,180,2.5
C002,Neha,Arjun,Bangalore,STD,320,6.0
C003,Rahul,Pooja,Delhi,Local,60,1.0
C004,Pooja,Neha,Mumbai,ISD,900,25.0
C005,Arjun,Amit,Chennai,STD,400,7.5
C006,Sneha,Karan,Hyderabad,Local,240,3.0
C007,Karan,Sneha,Delhi,Local,120,2.0
C008,Riya,Vikas,Bangalore,STD,360,6.5
C009,Vikas,Riya,Mumbai,ISD,1100,30.0
C010,Anjali,Sanjay,Chennai,Local,90,1.5
C011,Farhan,Ayesha,Delhi,STD,420,7.0
C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0
C013,Suresh,Divya,Bangalore,Local,150,2.0
C014,Divya,Suresh,Mumbai,STD,380,6.8
C015,Nikhil,Priya,Delhi,Local,200,2.8
C016,Priya,Nikhil,Chennai,STD,410,7.2
C017,Rohit,Kavya,Hyderabad,Local,170,2.3
C018,Kavya,Rohit,Bangalore,Local,140,2.1
C019,Manish,Tina,Mumbai,ISD,1000,27.0
C020,Tina,Manish,Delhi,STD,350,6.2
"""

with open ("call_logs.csv" , "w") as f:
  f.write(data)

#Task 1 - Read the CSV file using sparkContext.textFile and display the first 5 records.

In [18]:
rdd = spark.sparkContext.textFile("call_logs.csv")
first5 = rdd.take(5)
for row in first5:
  print(row)

call_id,caller,receiver,city,call_type,duration_seconds,cost
C001,Amit,Rahul,Hyderabad,Local,180,2.5
C002,Neha,Arjun,Bangalore,STD,320,6.0
C003,Rahul,Pooja,Delhi,Local,60,1.0
C004,Pooja,Neha,Mumbai,ISD,900,25.0

#Task 2 - Remove the header row and create a clean RDD containing only data rows.

In [19]:

# rdd = spark.sparkContext.textFile("call_logs.csv")
header = rdd.first()
clean_rdd = rdd.filter(lambda row: row != header)
clean_rdd.take(5)

['C001,Amit,Rahul,Hyderabad,Local,180,2.5',
 'C002,Neha,Arjun,Bangalore,STD,320,6.0',
 'C003,Rahul,Pooja,Delhi,Local,60,1.0',
 'C004,Pooja,Neha,Mumbai,ISD,900,25.0',
 'C005,Arjun,Amit,Chennai,STD,400,7.5']

#Task 3 - Split each row into individual fields using a delimiter.

In [ ]:
split_rdd = clean_rdd.map(lambda row : row.split(','))
split_rdd.take(5)

#Task 4 - Calculate the total call cost per city.

In [ ]:

city_cost_rdd = split_rdd.map(lambda parts: (parts[3], float(parts[6])))
total_cost_per_city = city_cost_rdd.reduceByKey(lambda a, b: a + b)
total_cost_per_city.collect()

#Task 5 - Identify the city with the highest total call cost.

In [26]:
max_cost_city = total_cost_per_city.reduce(lambda x , y: x if x[1] > y[1] else y )
print(max_cost_city)

('Mumbai', 88.8)

#Task 6 - Calculate the total call duration per call type (Local, STD, ISD).