In [ ]:
from pyspark.sql import   SparkSession
spark = SparkSession.builder.appName('Day 21').getOrCreate()

In [ ]:
data = [
    ("U001","Delhi",450),
    ("U002","Mumbai",620),
    ("U003","Bangalore",300),
    ("U004","Delhi",700)
]
columns = ["user_id","city","amount"]
df = spark.createDataFrame(data,columns)
df.show()

+-------+---------+------+
|user_id|     city|amount|
+-------+---------+------+
|   U001|    Delhi|   450|
|   U002|   Mumbai|   620|
|   U003|Bangalore|   300|
|   U004|    Delhi|   700|
+-------+---------+------+

In [ ]:
from pyspark.sql.functions import col

df = df.withColumn("amount_with_tax",col("amount") * 1.18)
df.show()

In [ ]:
df = df.withColumnRenamed("amount_with_tax" , "total_amount")
df.show()

In [ ]:
df = df.replace("Delhi","New Delhi",subset=["city"])
df.show()

In [ ]:
from pyspark.sql.functions import when

df= df.withColumn("amount_category",when(col("amount") >= 500 , "High").otherwise("Low"))
df.show()